<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Translated Example" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "trix", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="flex items-center space-x-2 fixed top-4 left-4">
        <span>Locale:</span>

        <% I18n.available_locales.each do |locale| %>
          <%= link_to locale, url_for(locale: locale), class: "px-2 py-1 rounded-lg #{I18n.locale == locale ? 'bg-blue-500 text-white' : 'bg-gray-100'}" %>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
